* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Times New Roman', Times, serif;
}
header {
    padding: 10px 50px 20px;
    background-color: dimgrey;
    font-weight: bolder;
}
header a {
    text-decoration: none;
    text-align: center;
    color: black;
}